.contenedor p {
    background-color: #EAEFEF;
    margin: 10px;
    padding: 10px;
}

.cajatitulo {
    margin: 10px;
    padding: 10px;
}

.caja {
    display: flex;
    align-items: flex-start;
    background-color: #333446;
    flex-wrap: nowrap; 
    margin-top: 20px;
}

/* imagen y texto */
.cajaimagen1 {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.cajaimagen2 {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.cajatituloh2 {
    font-size: 14px;
    margin: 20px;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

