.cartita {
    width: 30%;
    padding: 10px;
    background-color: #EAEFEF;
    border-radius: 10px;
    display: inline-block;
    margin: 1.5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .cartita_video {
        width: 100%;
    }

    .cartita_titulo {
        font-size: 18px;
        margin-bottom: 10px;
    }
}