header img {
    width: 80px;
    margin: 5px;
}

header {
    background-color: #333446;
    padding: 10px 20px;
}

header a {
    color: #EAEFEF;
    text-decoration: none;
    margin-inline: 10px;
}